# Environment variables
.env
.env~

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Logs
*.log
debug_output.txt

# Qdrant local DB files
qdrant_storage/

# OS/editor junk
.vscode/
*.swp
*.DS_Store
out.html
part_a*
x

# Generated Reports
*.pdf
!tests/data/*.pdf

